<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}SVP8{% endblock %}</title>
        
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<!--         <link href="/static/css/style.css" type="text/css" rel="stylesheet"> -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        {% block extended_head %}
        {% endblock %}

    </head>
        
    <body>
        
        <div class="container">
            <div class="row">
                &nbsp;
            </div>
            {% block content %}

            {% endblock %}
            
            <hr />
            <div class="row">
                <form action='/subscribe' method='POST'>
                    <div class="offset3 span3">
                        
                        <p>Если Вы хотите быть в курсе, пишите на <a href='mailto:info@svp8.ru' target='blank'>info@svp8.ru</a> или оставьте нам свой адрес и мы обязательно оповестим Вас.</p>
                    </div>
                    <div class='span3'>
                        <div class='well'>
                            <input type='text' style='width: 165px' name='email' value='' placeholder='ваш емейл' />
                            <button type='submit' class='btn btn-primary'>Отправить</button>
                            <input type='hidden' name='from' value='{{ request_url }}' />
                            {% csrf_token %}
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</html>  
