<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}SVP8{% endblock %}</title>
        
<!--         <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet"> -->
        <link href="/static/css/bootstrap_1.css" type="text/css" rel="stylesheet">
<!--         <link href="/static/css/style.css" type="text/css" rel="stylesheet"> -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        {% block extended_head %}
        {% endblock %}

    </head>
        
    <body>
        {% if request.user.is_authenticated %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    </a>
                    <a class="brand">СВП</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li {% if 'home' in request_url %} class="active" {% endif %}>
                                <a href="/">Класс</a>
                            </li>
                            <li>
                                <a href="/forum/" target='_blank'>Форум</a>
                            </li>
                            <li {% if 'profile' in request_url %} class="active" {% endif %}>
                                <a href="/profile/">Профиль</a>
                            </li>
                            
                            <li class="dropdown {% if 'info' in request_url %} active {% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown">Информация<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        {% for i in info_pages %}
                                            <a href="/info/{{ i.slug }}/">{{ i.title }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                        <ul class="nav pull-right">
                            
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/accounts/logout/">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        {% endif %}
       <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class='message-wrapper'>
                    <div class="alert alert-{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            {% block content %}
            {% endblock %}
       </div> <!-- /container -->
    </body>
</html>  
