<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}SVP8{% endblock %}</title>
        
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        {% block extended_head %}
        {% endblock %}

    </head>
        
    <body>
        <div id='header'>
            <div class="container">
                <div class="row">
                    &nbsp;
                </div>
                {% block header_content %}
                    <div class="row">
                        <div class="span9">
                            <h1>Системно-Векторная</h1>
                            <h3>ПСИХОЛОГИЯ</h3>
                        </div>
                        <div class='span3'>
                                    {% include 'subscribe.html' %}
                        </div>
                    </div>  
                {% endblock %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                    &nbsp;
                </div>
            {% block content %}
            {% endblock %}
            
            <hr />
            <div class="row">
                        {% if messages %}
                            <div class='span12'>
                            {% for message in messages %}
                                <div class='message-wrapper'>
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message|safe }}
                                </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                
                    <div class="span12">
                        <p>Если Вы хотите быть в курсе, пишите на <a href='mailto:info@svp8.ru' target='blank'>info@svp8.ru</a> или оставьте нам свой адрес и мы обязательно оповестим Вас.</p>
                    </div>
                    
            </div>
        </div>
    </body>
</html>  
