{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extended_head %}
    <script type="text/javascript" src="/static/js/swfobject.js"></script>

        <script type="text/javascript" charset="utf-8"
            src="{{STATIC_URL}}js/jquery_csrf_ajax.js">
        </script>
    <!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/room_page.css"> -->
    <script type="text/javascript">
        getContext = function(){
            return {
                "username": "{{ user.username }}",
                "room_id": {{ room.id }},
            }
        }
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/room.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/room.css">
{% endblock %}

{% block content %}

    <div class='row'> &nbsp;
    </div>
    <div class='row'>
        <div class='span4'>
            <div id="audioplayer602"></div><script type="text/javascript">var flashvars = {"comment":"Системно-Векторная Психология. 1 уровень.","st":"/static/css/audio164-590.txt","file":"http://listen.svp8.ru:8090/burlan"};var params = {bgcolor:"#ffffff",  allowScriptAccess:"always",id:"audioplayer602"}; new swfobject.embedSWF("/static/uppod.swf", "audioplayer602", "300", "90", "9.0.115.0", false, flashvars, params);</script>
            
            
        </div>
        
        <div class='span8'>
            <div class='well'>
                {{ content|safe }}
            </div>
        </div>
    
    </div>
    
    <div class='row'>
        <div id="chatContent">
            <div class='span10'>
                <div id="chat">
                    <div id="chatText">
                    {% for m in chat_messages %}
                        <div class="chatMessage">
                            <div class="messageDate">
                                {{ m.date.time }}
                            </div> 
                            <div class="messageUsername">
                                {{ m.username }}
                            </div>
                            <div class="messageContent">
                                {{ m.content }}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div id="chatInput">
                        <input id="chatSendText" name="chatSendText" type="text">
                        <input id="chatSendButton" type="button" class='btn btn-primary' value="Отправить">
                    </div>
                </div>
            </div>
            
            <div class='span2'>
                <div id="connectedUsers">
                    <p id="connectedUsersTitle">В сети:</p>
                    <ol id="connectedUsersList">
                    </ol>
                </div>
            </div>
        </div>
    </div>
        
    
{% endblock %}